<div>
    <div>
        <h2>Sign Up</h2>
    </div>
    <div id="signup">
        <form>
            <div>
                <label>Username</label>
                <input type="text" />
            </div>

            <div>
                <label>Password</label>
                <input type="password"/>
            </div>
            <button type="submit">Sign Up</button>
            <a href="/login">Login</a>
        </form>
    </div>
</div>
<script src="/javascript/signup.js"></script>